<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Contact</h1>
<div>
    <form method = 'post' th:action="@{/contact}">
        <label>
            Name:
             <input type = 'text' name = 'name' th:value="${name}"/>
        </labeL>
        </div>
<div>
    <label>
        Last name:
        <input type = 'text' last name = 'lastName' th:value="${lastName}"/>
    </label>
</div>
<div>
    <label>
        Email:
        <input type = 'email' name = 'email' cols="20" th:value="${email}">
    </label>
    <div>
    <label for="comment">
        Leave your question or suggestion here:
        <textarea id = 'comment' name = 'comment' rows='5' cols="30" th:value="${comment}">
        </textarea>
    </label>
    </div>
    <div>
            <input type = 'submit' value = 'Send!' />
        </div>
    </form>
</div>
</body>
</html>
